body {
    font-family: 'Garamond', serif;
    background-color: #0f6bae;
    color: #c6cdff;
}

header {
    background-color: #83b8ff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    color: #c6cdff;
    text-decoration: none;
    margin: 0 15px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #83b8ff;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #248bd6;
}
